openapi: 3.1.0
info:
  title: Nirog Bhoomi Research OS API
  version: 1.0.0
  description: "Complete versioned API for the Nirog Bhoomi Research OS: the dashboard, the internal
    AI assistant, the Custom GPT, and any future integration all call these same operations."
servers:
  - url: https://research.nirogbhoomi.com/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development
security:
  - OAuth2: []
  - ApiKey: []
tags:
  - name: admin
  - name: annotations
  - name: audit
  - name: briefs
  - name: claims
  - name: collections
  - name: confirmations
  - name: content
  - name: ingestion
  - name: knowledge
  - name: processing
  - name: profile
  - name: research
  - name: review
  - name: sources
  - name: taxonomy
paths:
  /me:
    get:
      operationId: getCurrentUser
      summary: Get the authenticated user, their roles and their effective permissions
      description: >-
        Returns the identity this connection acts as, together with roles, granted scopes, effective
        permissions and preferences.


        Use this when identity or permissions matter to what you are about to do -- for example
        before offering to approve a source or merge categories. Do not assume a permission the user
        has not been shown to hold, and do not use this to work around a FORBIDDEN response.


        This operation does not modify anything.
      tags:
        - profile
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - profile.read
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /knowledge/search:
    post:
      operationId: searchKnowledge
      summary: Search the internal library with natural language and structured filters
      description: >-
        Searches Nirog Bhoomi's own sources, claims, collections, annotations and briefs using
        hybrid retrieval (full-text, semantic, identifier, taxonomy and evidence-weighted ranking).


        Use this whenever the user asks what the organization already knows, asks you to find saved
        research, or asks a substantive topic question that the library may cover. Always search
        before synthesizing, unless you already hold specific source ids.


        This returns retrieval results with matched passages and locators. It does NOT write an
        answer -- use synthesizeKnowledge for that. It does NOT search the web; use
        previewExternalResearch or startResearchJob for external discovery.


        Every result states its origin (internal_approved, internal_unreviewed or
        internal_archived). Never describe an unreviewed result as approved organizational evidence.
        This operation does not modify anything.
      tags:
        - knowledge
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - knowledge.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  minLength: 1
                  description: The natural-language question or search terms.
                mode:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - library_only
                        - library_first
                        - web_discovery
                        - evidence_review
                  description: library_only restricts to approved internal sources by default.
                entity_types:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        enum:
                          - sources
                          - claims
                          - collections
                          - annotations
                          - briefs
                  description: Which record types to search. Defaults to sources.
                filters:
                  anyOf:
                    - not: {}
                    - type: object
                      properties:
                        review_status:
                          type: array
                          items:
                            type: string
                            enum:
                              - unreviewed
                              - needs_review
                              - in_review
                              - approved
                              - approved_with_conditions
                              - rejected
                              - disputed
                              - superseded
                        source_types:
                          type: array
                          items:
                            type: string
                        study_designs:
                          type: array
                          items:
                            type: string
                        categories:
                          type: array
                          items:
                            type: string
                            format: uuid
                        tags:
                          type: array
                          items:
                            type: string
                            format: uuid
                        collection_ids:
                          type: array
                          items:
                            type: string
                            format: uuid
                        source_ids:
                          type: array
                          items:
                            type: string
                            format: uuid
                        authors:
                          type: array
                          items:
                            type: string
                        publishers:
                          type: array
                          items:
                            type: string
                        published_after:
                          type: string
                          nullable: true
                        published_before:
                          type: string
                          nullable: true
                        population:
                          type: string
                          nullable: true
                        intervention:
                          type: string
                          nullable: true
                        comparator:
                          type: string
                          nullable: true
                        outcome:
                          type: string
                          nullable: true
                        country:
                          type: string
                          nullable: true
                        language:
                          type: string
                          nullable: true
                        evidence_status:
                          type: array
                          items:
                            type: string
                            enum:
                              - supported
                              - likely_supported
                              - mixed
                              - contested
                              - contradicted
                              - insufficient_evidence
                              - outdated
                              - retracted_source_dependency
                              - unreviewed
                      additionalProperties: false
                limit:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 50
                include_passages:
                  anyOf:
                    - not: {}
                    - type: boolean
                  description: Return matching passages with locators.
                include_unreviewed:
                  anyOf:
                    - not: {}
                    - type: boolean
                  description: Include sources that have not been approved. They are labelled as such.
                include_archived:
                  anyOf:
                    - not: {}
                    - type: boolean
                explain_ranking:
                  anyOf:
                    - not: {}
                    - type: boolean
                  description: Return the per-signal score breakdown.
              required:
                - query
            example:
              query: What evidence do we have on post-meal walking and glucose?
              mode: library_only
              entity_types:
                - sources
                - claims
              filters:
                review_status:
                  - approved
              limit: 20
              include_passages: true
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /knowledge/synthesize:
    post:
      operationId: synthesizeKnowledge
      summary: Generate a cited answer from internal sources only
      description: >-
        Produces an evidence-backed answer built strictly from Nirog Bhoomi's own sources, with a
        citation for every factual statement.


        Use this when the user wants an answer rather than a list of results -- a cited overview, a
        comparison across retrieved evidence, or a summary of contradictions and limitations. Search
        first unless you already know which source ids to use.


        The service rejects any citation the model produced that is not in the retrieval context, so
        citations returned here always correspond to real passages. Statements whose citations were
        all invalid are dropped rather than shown uncited.


        Defaults to approved sources only. Setting approved_only to false includes unreviewed
        material, which must then be described as unreviewed in your answer. This operation does not
        use the web and does not modify anything.
      tags:
        - knowledge
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - knowledge.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
                  minLength: 1
                mode:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - library_only
                        - library_first
                        - evidence_review
                source_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                  description: Restrict to these sources.
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                approved_only:
                  anyOf:
                    - not: {}
                    - type: boolean
                  description: Defaults to true.
                include_contradictions:
                  anyOf:
                    - not: {}
                    - type: boolean
                include_limitations:
                  anyOf:
                    - not: {}
                    - type: boolean
                include_safety_notes:
                  anyOf:
                    - not: {}
                    - type: boolean
                citation_style:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - internal
                        - numbered
                        - apa
                        - vancouver
                        - harvard
                        - url_list
                        - doi_list
                        - bibtex
                        - ris
                audience:
                  anyOf:
                    - not: {}
                    - type: string
                max_sources:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 30
              required:
                - question
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /knowledge/evidence:
    post:
      operationId: findEvidence
      summary: Find supporting, contradicting or qualifying evidence for a claim or question
      description: >-
        Returns evidence relevant to a specific claim or question, separated into evidence that has
        been curated and reviewed (attached to a claim record) and evidence that is only a retrieval
        match.


        Use this when the user asks whether something is supported, what contradicts it, or wants
        the exact passages behind a position. The distinction in the response matters: curated claim
        evidence has been reviewed by a person, passage evidence has not.


        This does not create or modify claims. Use createClaim or addClaimEvidence for that.
      tags:
        - knowledge
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - knowledge.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                claim_or_question:
                  type: string
                  minLength: 1
                relationship:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - supporting
                        - contradicting
                        - qualifying
                        - all
                approved_only:
                  anyOf:
                    - not: {}
                    - type: boolean
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                limit:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 50
              required:
                - claim_or_question
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /knowledge/compare:
    post:
      operationId: compareSources
      summary: Compare two to eight sources across methodology dimensions
      description: >-
        Builds a side-by-side comparison of the selected sources across study design, population,
        intervention, comparator, duration, outcomes, findings, limitations, funding and conflicts
        of interest.


        Use this when the user asks how studies differ, which is stronger, or why two sources seem
        to disagree. The response names which sources have no data for each dimension, and flags
        whether the study metadata was human-verified or only auto-extracted.


        Requires between two and eight source ids. This operation does not modify anything.
      tags:
        - knowledge
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - knowledge.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 2
                  maxItems: 8
                comparison_dimensions:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
              required:
                - source_ids
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /knowledge/gaps:
    post:
      operationId: findKnowledgeGaps
      summary: Identify what the library is missing on a topic
      description: >-
        Analyses the library's coverage of a topic and reports structural gaps: missing study
        designs, absent recent work, no population relevant to Nirog Bhoomi's audience, small
        samples, or missing study metadata.


        Use this when the user asks what research is missing, where the evidence is thin, or what to
        research next. Note that a reported gap can reflect missing metadata rather than missing
        research; the response says which.


        This operation does not modify anything.
      tags:
        - knowledge
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - knowledge.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                topic:
                  type: string
                  minLength: 1
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                approved_only:
                  anyOf:
                    - not: {}
                    - type: boolean
                dimensions:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        enum:
                          - population
                          - intervention
                          - outcomes
                          - geography
                          - study_design
                          - recency
              required:
                - topic
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources:
    get:
      operationId: listSources
      summary: List and filter library sources
      description: >-
        Returns a filtered, paginated list of sources with their review and processing state.


        Use this for browsing and filtering -- "show sources awaiting review", "what did I add this
        week", "list everything in this collection". For relevance-ranked topic search use
        searchKnowledge instead; this operation does not rank by relevance to a question.


        This operation does not modify anything.
      tags:
        - sources
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.read
        - knowledge.read
      parameters:
        - name: query
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: review_status
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - allOf:
                  - anyOf:
                      - type: string
                      - type: array
                        items:
                          type: string
                  - type: array
                    items:
                      type: string
                      minLength: 1
        - name: processing_status
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - allOf:
                  - anyOf:
                      - type: string
                      - type: array
                        items:
                          type: string
                  - type: array
                    items:
                      type: string
                      minLength: 1
        - name: source_type
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - allOf:
                  - anyOf:
                      - type: string
                      - type: array
                        items:
                          type: string
                  - type: array
                    items:
                      type: string
                      minLength: 1
        - name: category_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: tag_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: collection_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: publisher
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: author
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: published_after
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: published_before
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: added_by
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: assigned_reviewer_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: archived
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: duplicates_only
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: cursor
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: limit
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: integer
                minimum: 1
                maximum: 100
        - name: sort
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                enum:
                  - created_at
                  - updated_at
                  - publication_date
                  - title
        - name: order
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                enum:
                  - asc
                  - desc
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: createSource
      summary: Create a source from supplied text rather than a URL
      description: >-
        Creates a source record from text you already have -- a manual note, pasted article text, an
        internal document, or a citation with no retrievable URL.


        Use this when there is no URL to fetch, or when the publisher blocks automated access and
        the user has supplied the text. For a URL, use ingestUrl instead: it captures the original
        and its metadata.


        This operation writes. The created source is unreviewed.
      tags:
        - sources
        - ingestion
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  minLength: 1
                source_type:
                  anyOf:
                    - not: {}
                    - type: string
                  description: Defaults to manual_note.
                text:
                  type: string
                  minLength: 1
                original_url:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                authors:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                publisher:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                publication_date:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                abstract:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                categories:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                tags:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
              required:
                - title
                - text
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}:
    get:
      operationId: getSource
      summary: Get one source with its metadata, taxonomy and optional detail
      description: >-
        Returns the full record for one source: metadata, summaries, categories, tags, collections,
        review state and processing state.


        Use this when a specific source has been identified and you need its details, or before
        proposing an edit. The optional include flags add study metadata, claims, annotations,
        versions and activity.


        Full text is not returned by default and is truncated when requested; use
        searchSourcePassages to retrieve specific passages with locators rather than pulling the
        whole document.


        This operation does not modify anything.
      tags:
        - sources
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.read
        - knowledge.read
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: include_text
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_study_metadata
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_claims
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_annotations
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_versions
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_activity
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      operationId: updateSource
      summary: Correct editable metadata on a source
      description: >-
        Updates editable metadata fields on an existing source: title, authors, publisher,
        publication date, DOI, abstract, human summary, key findings, limitations, safety notes and
        similar.


        Use this only when the user explicitly asks to correct or change source metadata.


        This action does NOT change review status (use changeSourceReviewStatus), categories or tags
        (use updateSourceTaxonomy), or collection membership (use addSourceToCollections). Fields a
        reviewer has locked cannot be changed without the source.lock_fields permission.


        Pass expected_version to detect a concurrent edit; a mismatch returns VERSION_CONFLICT
        rather than overwriting someone else's change.


        This operation writes.
      tags:
        - sources
      x-risk-level: medium
      x-may-require-confirmation: false
      x-required-scopes:
        - source.write
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                expected_version:
                  anyOf:
                    - not: {}
                    - type: integer
                title:
                  anyOf:
                    - not: {}
                    - type: string
                subtitle:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                source_type:
                  anyOf:
                    - not: {}
                    - type: string
                canonical_url:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                doi:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                pmid:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                author_text:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                publisher:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                journal:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                publication_date:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                language:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                country:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                abstract:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                human_summary:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                evidence_summary:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                key_findings:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                limitations:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                safety_notes:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                practical_implications:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                conflicts_of_interest:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                funding_information:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                visibility:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - private
                        - restricted
                        - organization
                        - selected_collections
                retraction_status:
                  anyOf:
                    - not: {}
                    - type: string
                retraction_reason:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
              required: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: permanentlyDeleteSource
      summary: Permanently delete an archived source (administrators only)
      description: >-
        Permanently destroys a source and everything attached to it: passages, annotations, claim
        evidence and versions. This cannot be undone.


        Only archived sources can be deleted, so a record must be archived first. Requires the
        source.delete_permanent permission and a server-issued confirmation.


        Prefer archiveSource in almost every case. Only proceed when an administrator has explicitly
        and unambiguously asked for permanent deletion of a specific record.


        This operation is excluded from the Custom GPT action schema by default.
      tags:
        - sources
        - admin
      x-risk-level: critical
      x-may-require-confirmation: true
      x-required-scopes: []
      parameters:
        - name: confirmation_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
                nullable: true
            description: Confirmation id from confirmAction. Required when the operation returns
              CONFIRMATION_REQUIRED.
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}/passages/search:
    post:
      operationId: searchSourcePassages
      summary: Find exact passages within one source
      description: >-
        Searches inside a single source and returns the best-matching passages with page numbers and
        locators.


        Use this when the user wants an exact quotation, asks where a statement appears in a
        document, needs a page reference, or when you must verify a claim against its source before
        repeating it.


        Never paraphrase a passage as if it were a quotation. Never invent a page number -- use the
        locator this returns. This operation does not modify anything.
      tags:
        - sources
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.read
        - knowledge.read
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  minLength: 1
                limit:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 30
                include_context:
                  anyOf:
                    - not: {}
                    - type: boolean
              required:
                - query
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/ingest-url:
    post:
      operationId: ingestUrl
      summary: Save one URL to the library and queue enrichment
      description: >-
        Fetches a URL, extracts its content, checks for duplicates, creates a source record and
        queues AI enrichment.


        Use this when the user explicitly asks to save, log or add a link, or when an external
        research candidate has been chosen for saving. Do not call it speculatively for a URL the
        user merely mentioned.


        The newly created source is NOT approved. It enters the Research Inbox as needs_review, and
        you must say so rather than implying it is now organizational evidence.


        If a duplicate exists this returns DUPLICATE_SOURCE with the existing record; tell the user
        what already exists and ask whether to open it, save a related copy, or capture a new
        version. Do not silently create a second copy.


        This operation writes. Supply an Idempotency-Key header to make a retry safe.
      tags:
        - sources
        - ingestion
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  minLength: 1
                  description: The URL to save.
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                category_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                tags:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                notes:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                assign_reviewer_id:
                  anyOf:
                    - not: {}
                    - type: string
                      format: uuid
                      nullable: true
                priority:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - low
                        - normal
                        - high
                duplicate_behavior:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - warn
                        - return_existing
                        - create_related
                        - create_version_when_possible
                      description: warn returns DUPLICATE_SOURCE so you can ask the user; return_existing opens the
                        existing record; create_related saves a linked copy;
                        create_version_when_possible attaches a changed page as a new version.
                  description: warn returns DUPLICATE_SOURCE so you can ask the user; return_existing opens the
                    existing record; create_related saves a linked copy;
                    create_version_when_possible attaches a changed page as a new version.
                processing_profile:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - standard
                        - metadata_only
                        - full
                visibility:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - private
                        - restricted
                        - organization
                        - selected_collections
              required:
                - url
            example:
              url: https://pubmed.ncbi.nlm.nih.gov/35449236/
              tags:
                - post-meal walking
              duplicate_behavior: warn
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/ingest-batch:
    post:
      operationId: ingestUrlsBatch
      summary: Save several URLs with shared metadata
      description: >-
        Saves multiple URLs in one call, applying the same collections, categories and tags to each.


        Use this when the user asks to save several links at once or has selected several research
        candidates. Each URL is reported separately as created, duplicate or failed -- report the
        failures, never just the successes.


        Defaults to returning the existing record for duplicates rather than failing the whole
        batch. All created sources are unreviewed.


        This operation writes. Batch size is capped by configuration.
      tags:
        - sources
        - ingestion
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                urls:
                  type: array
                  items:
                    type: string
                    minLength: 1
                  minItems: 1
                  maxItems: 50
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                category_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                tags:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                duplicate_behavior:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - warn
                        - return_existing
                        - create_related
                        - create_version_when_possible
                      description: warn returns DUPLICATE_SOURCE so you can ask the user; return_existing opens the
                        existing record; create_related saves a linked copy;
                        create_version_when_possible attaches a changed page as a new version.
                  description: warn returns DUPLICATE_SOURCE so you can ask the user; return_existing opens the
                    existing record; create_related saves a linked copy;
                    create_version_when_possible attaches a changed page as a new version.
              required:
                - urls
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/ingest-identifier:
    post:
      operationId: ingestIdentifier
      summary: Save a paper by DOI or PubMed identifier
      description: >-
        Resolves a DOI or PMID to its bibliographic record and landing page, then saves it as a
        source.


        Use this when the user gives a DOI or PMID rather than a URL. If the identifier is already
        in the library the existing record is returned and nothing new is created.


        This operation writes. The created source is unreviewed.
      tags:
        - sources
        - ingestion
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.write
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                doi:
                  anyOf:
                    - not: {}
                    - type: string
                pmid:
                  anyOf:
                    - not: {}
                    - type: string
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                category_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                tags:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
              required: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}/taxonomy:
    post:
      operationId: updateSourceTaxonomy
      summary: Add or remove categories and tags on a source
      description: >-
        Adds or removes category assignments and tags for one source.


        Use this when the user asks to file a source under a category or to tag it. Categories must
        already exist -- use findSimilarCategories and createCategory first if the category is new.
        Tags are created on demand.


        This action does not change review status or collection membership.


        This operation writes.
      tags:
        - sources
        - taxonomy
      x-risk-level: medium
      x-may-require-confirmation: false
      x-required-scopes:
        - source.write
        - taxonomy.write
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                add_category_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                remove_category_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                add_tags:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                remove_tag_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
              required: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}/collections:
    post:
      operationId: addSourceToCollections
      summary: Add one source to one or more collections
      description: >-
        Adds a single source to the given collections, optionally recording why it was added.


        Use this when the user asks to file an existing source into a collection. To add several
        sources to one collection, use addSourcesToCollection instead.


        This operation writes.
      tags:
        - sources
        - collections
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - collection.write
        - source.write
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                collection_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 1
                reason_added:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
              required:
                - collection_ids
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: removeSourceFromCollections
      summary: Remove one source from collections
      description: >-
        Removes a source from the given collections. The source itself is not deleted or archived
        and remains in the library.


        Use this only when the user explicitly asks to take a source out of a collection. Be certain
        which collection is meant before calling.


        This operation writes.
      tags:
        - sources
        - collections
      x-risk-level: medium
      x-may-require-confirmation: false
      x-required-scopes:
        - collection.write
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collection_ids
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
              format: uuid
            minItems: 1
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}/reviewer:
    post:
      operationId: assignSourceReviewer
      summary: Assign a reviewer to a source
      description: >-
        Assigns a user to review a source and moves it into needs_review if it was unreviewed. An
        optional note is recorded as a review request annotation for the reviewer.


        Use this when work is being handed to a specific person. This does not approve or reject
        anything.


        This operation writes.
      tags:
        - sources
        - review
      x-risk-level: medium
      x-may-require-confirmation: false
      x-required-scopes:
        - source.write
        - source.review
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reviewer_id:
                  type: string
                  format: uuid
                note:
                  anyOf:
                    - not: {}
                    - type: string
              required:
                - reviewer_id
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}/review-status:
    post:
      operationId: changeSourceReviewStatus
      summary: Approve, reject or otherwise change a source review status
      description: >-
        Changes the review status of one source: approved, approved_with_conditions, rejected,
        disputed, in_review, needs_review or superseded.


        Use this only when the user, holding the relevant permission, explicitly decides on a
        source. Approving a source makes it count as organizational evidence, so never do it on your
        own initiative.


        A reason is required to reject. Conditions are required for approved_with_conditions. Not
        every transition is allowed -- a rejected source must return to review before it can be
        approved. A source that is still processing cannot be approved.


        For several sources at once use bulkChangeSourceReviewStatus, which requires confirmation.


        This operation writes and requires the source.approve or source.reject permission.
      tags:
        - sources
        - review
      x-risk-level: medium
      x-may-require-confirmation: true
      x-required-scopes:
        - source.review
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                confirmation_id:
                  anyOf:
                    - not: {}
                    - type: string
                      format: uuid
                      nullable: true
                  description: Confirmation id from confirmAction. Required when the operation returns
                    CONFIRMATION_REQUIRED.
                status:
                  type: string
                  enum:
                    - unreviewed
                    - needs_review
                    - in_review
                    - approved
                    - approved_with_conditions
                    - rejected
                    - disputed
                    - superseded
                reason:
                  anyOf:
                    - not: {}
                    - type: string
                  description: Required when rejecting.
                conditions:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                  description: Required for approved_with_conditions.
                expected_version:
                  anyOf:
                    - not: {}
                    - type: integer
              required:
                - status
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}/reprocess:
    post:
      operationId: reprocessSource
      summary: Re-run AI enrichment stages for a source
      description: >-
        Queues selected enrichment stages to run again: summarize, classify, study_metadata, claims,
        embeddings, evidence_assessment.


        Use this when extraction or enrichment produced poor results, after correcting the source
        text, or when a stage failed. Human summaries and reviewer-locked fields are never
        overwritten by a re-run, and human-verified study metadata is preserved.


        Processing is asynchronous. Report that it is queued; do not report enriched results you
        have not retrieved.


        This operation writes.
      tags:
        - sources
        - processing
      x-risk-level: medium
      x-may-require-confirmation: false
      x-required-scopes:
        - source.write
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                stages:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        enum:
                          - summarize
                          - classify
                          - study_metadata
                          - claims
                          - embeddings
                          - evidence_assessment
                reason:
                  anyOf:
                    - not: {}
                    - type: string
              required: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}/archive:
    post:
      operationId: archiveSource
      summary: Archive a source (reversible)
      description: >-
        Archives a source so it no longer appears in default searches. The record, its passages,
        annotations and claim evidence are all kept, and restoreSource brings it back.


        This is a high-risk action and requires a server-issued confirmation. Call
        requestActionConfirmation, show the user the exact summary it returns, obtain explicit
        agreement, call confirmAction, then retry this operation with the confirmation_id.


        Archiving is NOT deletion. Never describe it as deleting or removing the source.


        This operation writes.
      tags:
        - sources
      x-risk-level: high
      x-may-require-confirmation: true
      x-required-scopes:
        - source.write
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                confirmation_id:
                  anyOf:
                    - not: {}
                    - type: string
                      format: uuid
                      nullable: true
                  description: Confirmation id from confirmAction. Required when the operation returns
                    CONFIRMATION_REQUIRED.
              required: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}/restore:
    post:
      operationId: restoreSource
      summary: Restore an archived source
      description: >-
        Returns an archived source to the active library with its review status unchanged.


        Use this when the user asks to bring back something that was archived. This operation
        writes.
      tags:
        - sources
      x-risk-level: medium
      x-may-require-confirmation: false
      x-required-scopes:
        - source.write
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}/related:
    get:
      operationId: getRelatedSources
      summary: Find sources related to this one
      description: >-
        Returns sources connected to this one through shared categories, shared collections or
        shared claim evidence, ranked by how strongly they are connected.


        Use this to help a user explore around a source. This operation does not modify anything.
      tags:
        - sources
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.read
        - knowledge.read
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: integer
                minimum: 1
                maximum: 50
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}/versions/compare:
    get:
      operationId: compareSourceVersions
      summary: Compare two captured versions of a source
      description: >-
        Compares two stored versions of a source and reports whether the content or title changed,
        which lines were added or removed, and which metadata fields differ.


        Use this when a page has been re-captured and the user wants to know what changed. This
        operation does not modify anything.
      tags:
        - sources
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.read
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: from_version
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
        - name: to_version
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/bulk/review-status:
    post:
      operationId: bulkChangeSourceReviewStatus
      summary: Change the review status of several sources at once
      description: >-
        Applies one review-status change across a set of sources, reporting each record's outcome
        separately.


        This is a high-risk action and requires a server-issued confirmation covering the exact set
        of source ids. Bulk approval in particular turns many records into organizational evidence
        at once, so state the count and let the user confirm.


        Never use a vague selection such as "all relevant sources". Resolve the exact ids first, and
        report any records that failed.


        This operation writes.
      tags:
        - sources
        - review
      x-risk-level: high
      x-may-require-confirmation: true
      x-required-scopes:
        - source.review
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                confirmation_id:
                  anyOf:
                    - not: {}
                    - type: string
                      format: uuid
                      nullable: true
                  description: Confirmation id from confirmAction. Required when the operation returns
                    CONFIRMATION_REQUIRED.
                source_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 1
                  maxItems: 200
                status:
                  type: string
                  enum:
                    - needs_review
                    - in_review
                    - approved
                    - approved_with_conditions
                    - rejected
                    - disputed
                reason:
                  anyOf:
                    - not: {}
                    - type: string
              required:
                - source_ids
                - status
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/bulk/archive:
    post:
      operationId: bulkArchiveSources
      summary: Archive several sources at once
      description: >-
        Archives a set of sources, reporting each record's outcome separately. Archiving is
        reversible; each source can be restored individually.


        This is a high-risk action and requires a server-issued confirmation covering the exact set
        of source ids.


        This operation writes.
      tags:
        - sources
      x-risk-level: high
      x-may-require-confirmation: true
      x-required-scopes:
        - source.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                confirmation_id:
                  anyOf:
                    - not: {}
                    - type: string
                      format: uuid
                      nullable: true
                  description: Confirmation id from confirmAction. Required when the operation returns
                    CONFIRMATION_REQUIRED.
                source_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 1
                  maxItems: 200
              required:
                - source_ids
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /collections:
    get:
      operationId: listCollections
      summary: List and search collections
      description: Returns collections with name, type, owner and source count. Use this to browse
        existing collections or check for one covering a topic before creating a new one. This
        operation does not modify anything.
      tags:
        - collections
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - collection.read
      parameters:
        - name: query
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: collection_type
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: owner_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: status
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                enum:
                  - active
                  - archived
        - name: cursor
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: limit
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: integer
                minimum: 1
                maximum: 100
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: createCollection
      summary: Create a new collection
      description: >-
        Creates a collection to organize sources around a topic, research question or content
        project.


        Before creating one, check listCollections or the similar_collections field this returns for
        an existing collection covering the same ground -- several collections on one topic are
        sometimes legitimate, so this is reported rather than blocked, but check with the user if a
        close match exists.


        This operation writes. It is idempotent when given an Idempotency-Key.
      tags:
        - collections
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - collection.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                description:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                purpose:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                research_question:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                collection_type:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - manual
                        - smart
                        - research_project
                        - content_project
                        - clinical_topic
                        - programme
                        - campaign
                        - competitor_research
                        - patient_education
                visibility:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - private
                        - restricted
                        - organization
                        - selected_collections
                source_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
              required:
                - name
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /collections/{collectionId}:
    get:
      operationId: getCollection
      summary: Get a collection with optional sources, claims, briefs and activity
      description: Returns a collection and, optionally, its member sources (with a review-status
        breakdown), related claims, associated briefs and recent activity. This operation does not
        modify anything.
      tags:
        - collections
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - collection.read
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: include_sources
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_claims
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_briefs
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_activity
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      operationId: updateCollection
      summary: Update collection metadata
      description: Updates name, description, purpose, research question, type, visibility, summary or
        pinned state. Pass expected_version to guard against a concurrent edit. This operation
        writes.
      tags:
        - collections
      x-risk-level: medium
      x-may-require-confirmation: false
      x-required-scopes:
        - collection.write
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  anyOf:
                    - not: {}
                    - type: string
                description:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                purpose:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                research_question:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                collection_type:
                  anyOf:
                    - not: {}
                    - type: string
                visibility:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - private
                        - restricted
                        - organization
                        - selected_collections
                summary:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                pinned:
                  anyOf:
                    - not: {}
                    - type: boolean
                expected_version:
                  anyOf:
                    - not: {}
                    - type: integer
              required: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /collections/similar:
    get:
      operationId: findSimilarCollections
      summary: Find existing collections similar to a proposed name
      description: Returns collections whose name resembles the given one, with a similarity score. Call
        this before createCollection to avoid an accidental duplicate. This operation does not
        modify anything.
      tags:
        - collections
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - collection.read
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /collections/{collectionId}/sources:
    post:
      operationId: addSourcesToCollection
      summary: Add several sources to a collection
      description: Adds one or more sources to a collection. Reports which were added, which were already
        present, and which ids were not found. This operation writes.
      tags:
        - collections
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - collection.write
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 1
                section:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                reason_added:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
              required:
                - source_ids
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: removeSourcesFromCollection
      summary: Remove several sources from a collection
      description: Removes sources from a collection without affecting the source records themselves. This
        operation writes.
      tags:
        - collections
      x-risk-level: medium
      x-may-require-confirmation: false
      x-required-scopes:
        - collection.write
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: source_ids
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
              format: uuid
            minItems: 1
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /collections/{collectionId}/sources/reorder:
    post:
      operationId: reorderCollectionSources
      summary: Set the display order of sources within a collection
      description: Sets the position of the listed sources within the collection, in the order supplied.
        This operation writes.
      tags:
        - collections
      x-risk-level: medium
      x-may-require-confirmation: false
      x-required-scopes:
        - collection.write
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ordered_source_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 1
              required:
                - ordered_source_ids
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /collections/{collectionId}/synthesize:
    post:
      operationId: synthesizeCollection
      summary: Generate a cited synthesis from a collection's sources
      description: Runs synthesizeKnowledge scoped to one collection's member sources, using the
        collection's research question if the source did not supply one. This operation does not
        modify anything.
      tags:
        - collections
        - knowledge
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - knowledge.read
        - collection.read
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  anyOf:
                    - not: {}
                    - type: string
                approved_only:
                  anyOf:
                    - not: {}
                    - type: boolean
                include_contradictions:
                  anyOf:
                    - not: {}
                    - type: boolean
                include_gaps:
                  anyOf:
                    - not: {}
                    - type: boolean
              required: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /collections/{collectionId}/archive:
    post:
      operationId: archiveCollection
      summary: Archive a collection (reversible)
      description: |-
        Archives a collection. Member sources are not affected and remain in the library.

        This is a high-risk action and requires a server-issued confirmation. This operation writes.
      tags:
        - collections
      x-risk-level: high
      x-may-require-confirmation: true
      x-required-scopes:
        - collection.write
      parameters:
        - name: collectionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                confirmation_id:
                  anyOf:
                    - not: {}
                    - type: string
                      format: uuid
                      nullable: true
                  description: Confirmation id from confirmAction. Required when the operation returns
                    CONFIRMATION_REQUIRED.
              required: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
[...]
