openapi: 3.1.0
info:
  title: Nirog Bhoomi Research OS -- Custom GPT Actions
  version: 1.0.0
  description: The subset of the Nirog Bhoomi Research OS API exposed to the Nirog Bhoomi Research
    Assistant Custom GPT. Every write is permission-checked, scope-checked and audit-logged
    identically to the dashboard.
servers:
  - url: https://research.nirogbhoomi.com/api/v1
    description: Production
security:
  - ApiKey: []
tags:
  - name: audit
  - name: briefs
  - name: claims
  - name: collections
  - name: confirmations
  - name: content
  - name: ingestion
  - name: knowledge
  - name: profile
  - name: research
  - name: review
  - name: sources
  - name: taxonomy
paths:
  /me:
    get:
      operationId: getCurrentUser
      summary: Get the authenticated user, their roles and their effective permissions
      description: Returns this connection's identity, roles, granted scopes and effective permissions.
        Use before assuming a permission the user hasn't been shown to hold. Does not modify
        anything.
      tags:
        - profile
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - profile.read
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /knowledge/search:
    post:
      operationId: searchKnowledge
      summary: Search the internal library with natural language and structured filters
      description: Hybrid search (full-text, semantic, taxonomy, evidence-weighted) over internal sources,
        claims, collections and briefs. Search before synthesizing. Returns passages with locators,
        never web results. Every result states origin (approved/unreviewed/archived) -- never call
        unreviewed approved.
      tags:
        - knowledge
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - knowledge.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  minLength: 1
                  description: The natural-language question or search terms.
                mode:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - library_only
                        - library_first
                        - web_discovery
                        - evidence_review
                  description: library_only restricts to approved internal sources by default.
                entity_types:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        enum:
                          - sources
                          - claims
                          - collections
                          - annotations
                          - briefs
                  description: Which record types to search. Defaults to sources.
                filters:
                  anyOf:
                    - not: {}
                    - type: object
                      properties:
                        review_status:
                          type: array
                          items:
                            type: string
                            enum:
                              - unreviewed
                              - needs_review
                              - in_review
                              - approved
                              - approved_with_conditions
                              - rejected
                              - disputed
                              - superseded
                        source_types:
                          type: array
                          items:
                            type: string
                        study_designs:
                          type: array
                          items:
                            type: string
                        categories:
                          type: array
                          items:
                            type: string
                            format: uuid
                        tags:
                          type: array
                          items:
                            type: string
                            format: uuid
                        collection_ids:
                          type: array
                          items:
                            type: string
                            format: uuid
                        source_ids:
                          type: array
                          items:
                            type: string
                            format: uuid
                        authors:
                          type: array
                          items:
                            type: string
                        publishers:
                          type: array
                          items:
                            type: string
                        published_after:
                          type: string
                          nullable: true
                        published_before:
                          type: string
                          nullable: true
                        population:
                          type: string
                          nullable: true
                        intervention:
                          type: string
                          nullable: true
                        comparator:
                          type: string
                          nullable: true
                        outcome:
                          type: string
                          nullable: true
                        country:
                          type: string
                          nullable: true
                        language:
                          type: string
                          nullable: true
                        evidence_status:
                          type: array
                          items:
                            type: string
                            enum:
                              - supported
                              - likely_supported
                              - mixed
                              - contested
                              - contradicted
                              - insufficient_evidence
                              - outdated
                              - retracted_source_dependency
                              - unreviewed
                      additionalProperties: false
                limit:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 50
                include_passages:
                  anyOf:
                    - not: {}
                    - type: boolean
                  description: Return matching passages with locators.
                include_unreviewed:
                  anyOf:
                    - not: {}
                    - type: boolean
                  description: Include sources that have not been approved. They are labelled as such.
                include_archived:
                  anyOf:
                    - not: {}
                    - type: boolean
                explain_ranking:
                  anyOf:
                    - not: {}
                    - type: boolean
                  description: Return the per-signal score breakdown.
              required:
                - query
            example:
              query: What evidence do we have on post-meal walking and glucose?
              mode: library_only
              entity_types:
                - sources
                - claims
              filters:
                review_status:
                  - approved
              limit: 20
              include_passages: true
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /knowledge/synthesize:
    post:
      operationId: synthesizeKnowledge
      summary: Generate a cited answer from internal sources only
      description: Produces a cited answer built only from internal sources; citations not matching a real
        retrieved passage are stripped. Search first unless you already hold source ids. Defaults to
        approved sources only; unreviewed material must be labeled as such if included.
      tags:
        - knowledge
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - knowledge.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
                  minLength: 1
                mode:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - library_only
                        - library_first
                        - evidence_review
                source_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                  description: Restrict to these sources.
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                approved_only:
                  anyOf:
                    - not: {}
                    - type: boolean
                  description: Defaults to true.
                include_contradictions:
                  anyOf:
                    - not: {}
                    - type: boolean
                include_limitations:
                  anyOf:
                    - not: {}
                    - type: boolean
                include_safety_notes:
                  anyOf:
                    - not: {}
                    - type: boolean
                citation_style:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - internal
                        - numbered
                        - apa
                        - vancouver
                        - harvard
                        - url_list
                        - doi_list
                        - bibtex
                        - ris
                audience:
                  anyOf:
                    - not: {}
                    - type: string
                max_sources:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 30
              required:
                - question
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /knowledge/evidence:
    post:
      operationId: findEvidence
      summary: Find supporting, contradicting or qualifying evidence for a claim or question
      description: Finds evidence for a claim/question, separating human-reviewed claim evidence from
        unreviewed retrieval matches -- say which is which. Does not create or modify claims; use
        createClaim/addClaimEvidence for that.
      tags:
        - knowledge
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - knowledge.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                claim_or_question:
                  type: string
                  minLength: 1
                relationship:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - supporting
                        - contradicting
                        - qualifying
                        - all
                approved_only:
                  anyOf:
                    - not: {}
                    - type: boolean
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                limit:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 50
              required:
                - claim_or_question
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /knowledge/compare:
    post:
      operationId: compareSources
      summary: Compare two to eight sources across methodology dimensions
      description: Side-by-side comparison of 2-8 sources across design, population, intervention,
        outcomes, funding and conflicts of interest. Flags whether metadata was human-verified or
        auto-extracted. Does not modify anything.
      tags:
        - knowledge
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - knowledge.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 2
                  maxItems: 8
                comparison_dimensions:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
              required:
                - source_ids
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources:
    get:
      operationId: listSources
      summary: List and filter library sources
      description: Filtered, paginated browse of sources by review/processing state. For relevance-ranked
        topic search use searchKnowledge instead. Does not modify anything.
      tags:
        - sources
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.read
        - knowledge.read
      parameters:
        - name: query
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: review_status
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - allOf:
                  - anyOf:
                      - type: string
                      - type: array
                        items:
                          type: string
                  - type: array
                    items:
                      type: string
                      minLength: 1
        - name: processing_status
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - allOf:
                  - anyOf:
                      - type: string
                      - type: array
                        items:
                          type: string
                  - type: array
                    items:
                      type: string
                      minLength: 1
        - name: source_type
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - allOf:
                  - anyOf:
                      - type: string
                      - type: array
                        items:
                          type: string
                  - type: array
                    items:
                      type: string
                      minLength: 1
        - name: category_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: tag_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: collection_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: publisher
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: author
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: published_after
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: published_before
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: added_by
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: assigned_reviewer_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: archived
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: duplicates_only
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: cursor
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: limit
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: integer
                minimum: 1
                maximum: 100
        - name: sort
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                enum:
                  - created_at
                  - updated_at
                  - publication_date
                  - title
        - name: order
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                enum:
                  - asc
                  - desc
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: createSource
      summary: Create a source from supplied text rather than a URL
      description: Creates a source from text you already have (pasted article, manual note, no fetchable
        URL). For a URL use ingestUrl instead. Writes; approved immediately.
      tags:
        - sources
        - ingestion
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  minLength: 1
                source_type:
                  anyOf:
                    - not: {}
                    - type: string
                  description: Defaults to manual_note.
                text:
                  type: string
                  minLength: 1
                original_url:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                authors:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                publisher:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                publication_date:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                abstract:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                categories:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                tags:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
              required:
                - title
                - text
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}:
    get:
      operationId: getSource
      summary: Get one source with its metadata, taxonomy and optional detail
      description: "Full record for one source: metadata, review/processing state, and optionally study
        metadata, claims, annotations, versions, activity. Use searchSourcePassages for exact
        passages rather than full text. Does not modify anything."
      tags:
        - sources
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.read
        - knowledge.read
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: include_text
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_study_metadata
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_claims
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_annotations
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_versions
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_activity
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      operationId: updateSource
      summary: Correct editable metadata on a source
      description: Updates editable metadata (title, authors, publisher, dates, abstract, summaries,
        findings, limitations) on an existing source. Does not change review status, taxonomy or
        collections -- use those dedicated operations. Locked fields need source.lock_fields.
        Writes.
      tags:
        - sources
      x-risk-level: medium
      x-may-require-confirmation: false
      x-required-scopes:
        - source.write
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                expected_version:
                  anyOf:
                    - not: {}
                    - type: integer
                title:
                  anyOf:
                    - not: {}
                    - type: string
                subtitle:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                source_type:
                  anyOf:
                    - not: {}
                    - type: string
                canonical_url:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                doi:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                pmid:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                author_text:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                publisher:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                journal:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                publication_date:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                language:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                country:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                abstract:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                human_summary:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                evidence_summary:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                key_findings:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                limitations:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                safety_notes:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                practical_implications:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                conflicts_of_interest:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                funding_information:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                visibility:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - private
                        - restricted
                        - organization
                        - selected_collections
                retraction_status:
                  anyOf:
                    - not: {}
                    - type: string
                retraction_reason:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
              required: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}/passages/search:
    post:
      operationId: searchSourcePassages
      summary: Find exact passages within one source
      description: Finds best-matching passages with page numbers/locators inside one source. Use for an
        exact quotation or to verify a claim before repeating it -- never paraphrase as a quotation
        or invent a page number. Does not modify anything.
      tags:
        - sources
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.read
        - knowledge.read
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  minLength: 1
                limit:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 30
                include_context:
                  anyOf:
                    - not: {}
                    - type: boolean
              required:
                - query
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/ingest-url:
    post:
      operationId: ingestUrl
      summary: Save one URL to the library and queue enrichment
      description: Fetches a URL, extracts content, checks duplicates, creates a source and queues
        enrichment. Approved immediately (no review queue) -- mention extraction warnings if
        present. On DUPLICATE_SOURCE, tell the user what exists and ask whether to open it, save
        related, or version it. Writes.
      tags:
        - sources
        - ingestion
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  minLength: 1
                  description: The URL to save.
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                category_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                tags:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                notes:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                assign_reviewer_id:
                  anyOf:
                    - not: {}
                    - type: string
                      format: uuid
                      nullable: true
                priority:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - low
                        - normal
                        - high
                duplicate_behavior:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - warn
                        - return_existing
                        - create_related
                        - create_version_when_possible
                      description: warn returns DUPLICATE_SOURCE so you can ask the user; return_existing opens the
                        existing record; create_related saves a linked copy;
                        create_version_when_possible attaches a changed page as a new version.
                  description: warn returns DUPLICATE_SOURCE so you can ask the user; return_existing opens the
                    existing record; create_related saves a linked copy;
                    create_version_when_possible attaches a changed page as a new version.
                processing_profile:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - standard
                        - metadata_only
                        - full
                visibility:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - private
                        - restricted
                        - organization
                        - selected_collections
              required:
                - url
            example:
              url: https://pubmed.ncbi.nlm.nih.gov/35449236/
              tags:
                - post-meal walking
              duplicate_behavior: warn
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/ingest-identifier:
    post:
      operationId: ingestIdentifier
      summary: Save a paper by DOI or PubMed identifier
      description: Resolves a DOI or PMID to its bibliographic record and saves it as a source. Returns
        the existing record if already in the library. Writes; approved immediately.
      tags:
        - sources
        - ingestion
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.write
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                doi:
                  anyOf:
                    - not: {}
                    - type: string
                pmid:
                  anyOf:
                    - not: {}
                    - type: string
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                category_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                tags:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
              required: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}/taxonomy:
    post:
      operationId: updateSourceTaxonomy
      summary: Add or remove categories and tags on a source
      description: Adds or removes categories and tags on a source. Categories must already exist -- use
        findSimilarCategories/createCategory first if new. Tags are created on demand. Does not
        change review status or collection membership. Writes.
      tags:
        - sources
        - taxonomy
      x-risk-level: medium
      x-may-require-confirmation: false
      x-required-scopes:
        - source.write
        - taxonomy.write
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                add_category_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                remove_category_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                add_tags:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                remove_tag_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
              required: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}/collections:
    post:
      operationId: addSourceToCollections
      summary: Add one source to one or more collections
      description: >-
        Adds a single source to the given collections, optionally recording why it was added.


        Use this when the user asks to file an existing source into a collection. To add several
        sources to one collection, use addSourcesToCollection instead.


        This operation writes.
      tags:
        - sources
        - collections
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - collection.write
        - source.write
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                collection_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 1
                reason_added:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
              required:
                - collection_ids
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}/review-status:
    post:
      operationId: changeSourceReviewStatus
      summary: Approve, reject or otherwise change a source review status
      description: Changes a source review status (approved/rejected/disputed/etc). Only call when the
        permitted user has explicitly decided -- approving makes it organizational evidence, never
        on your own initiative. Reason required to reject; conditions required for
        approved_with_conditions. Writes.
      tags:
        - sources
        - review
      x-risk-level: medium
      x-may-require-confirmation: true
      x-required-scopes:
        - source.review
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                confirmation_id:
                  anyOf:
                    - not: {}
                    - type: string
                      format: uuid
                      nullable: true
                  description: Confirmation id from confirmAction. Required when the operation returns
                    CONFIRMATION_REQUIRED.
                status:
                  type: string
                  enum:
                    - unreviewed
                    - needs_review
                    - in_review
                    - approved
                    - approved_with_conditions
                    - rejected
                    - disputed
                    - superseded
                reason:
                  anyOf:
                    - not: {}
                    - type: string
                  description: Required when rejecting.
                conditions:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                  description: Required for approved_with_conditions.
                expected_version:
                  anyOf:
                    - not: {}
                    - type: integer
              required:
                - status
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /collections:
    get:
      operationId: listCollections
      summary: List and search collections
      description: Returns collections with name, type, owner and source count. Use this to browse
        existing collections or check for one covering a topic before creating a new one. This
        operation does not modify anything.
      tags:
        - collections
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - collection.read
      parameters:
        - name: query
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: collection_type
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: owner_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: status
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                enum:
                  - active
                  - archived
        - name: cursor
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: limit
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: integer
                minimum: 1
                maximum: 100
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: createCollection
      summary: Create a new collection
      description: Creates a collection to organize sources around a topic or project. Check
        listCollections/similar_collections first for an existing match; ask the user if a close one
        exists. Writes; idempotent with an Idempotency-Key.
      tags:
        - collections
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - collection.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                description:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                purpose:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                research_question:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                collection_type:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - manual
                        - smart
                        - research_project
                        - content_project
                        - clinical_topic
                        - programme
                        - campaign
                        - competitor_research
                        - patient_education
                visibility:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - private
                        - restricted
                        - organization
                        - selected_collections
                source_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
              required:
                - name
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /categories/similar:
    get:
      operationId: findSimilarCategories
      summary: Find categories that would overlap with a proposed name
      description: Checks whether a proposed category name/parent duplicates an existing one. Call before
        createCategory. Similarity >=0.9 generally means use the existing category instead. Does not
        modify anything.
      tags:
        - taxonomy
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - taxonomy.read
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
            minLength: 1
        - name: parent_category_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
                nullable: true
        - name: limit
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: integer
                minimum: 1
                maximum: 25
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /categories:
    post:
      operationId: createCategory
      summary: Create a new taxonomy category
      description: "Creates a taxonomy category. Always call findSimilarCategories first -- if a likely
        duplicate exists (>=0.9), recommend it instead unless the user explicitly confirms a
        distinct category is needed (allow_duplicate: true). Writes."
      tags:
        - taxonomy
      x-risk-level: medium
      x-may-require-confirmation: false
      x-required-scopes:
        - taxonomy.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                description:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                parent_category_id:
                  anyOf:
                    - not: {}
                    - type: string
                      format: uuid
                      nullable: true
                synonyms:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                color:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                icon:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                ai_usage_guidance:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                allow_duplicate:
                  anyOf:
                    - not: {}
                    - type: boolean
              required:
                - name
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /claims/{claimId}/review:
    post:
      operationId: reviewClaim
      summary: Record a human review decision on a claim
      description: >-
        Records a reviewer's decision on a claim's evidence status and clinical review status, with
        a required rationale.


        Use this only when the acting user, holding claim.review, has actually made this
        determination -- never on your own initiative. This operation writes.
      tags:
        - claims
      x-risk-level: medium
      x-may-require-confirmation: false
      x-required-scopes:
        - claim.review
      parameters:
        - name: claimId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                evidence_status:
                  type: string
                  enum:
                    - supported
                    - likely_supported
                    - mixed
                    - contested
                    - contradicted
                    - insufficient_evidence
                    - outdated
                    - retracted_source_dependency
                    - unreviewed
                clinical_review_status:
                  anyOf:
                    - not: {}
                    - type: string
                rationale:
                  type: string
                  minLength: 1
                safety_notes:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                safety_relevance:
                  anyOf:
                    - not: {}
                    - type: string
                expected_version:
                  anyOf:
                    - not: {}
                    - type: integer
              required:
                - evidence_status
                - rationale
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /claims/{claimId}/analyze-conflicts:
    post:
      operationId: analyzeClaimConflicts
      summary: Compare a claim against related claims for potential contradictions
      description: Compares a claim against similar claims, classifying each relationship (contradiction,
        different population/intervention/outcome/timeframe, qualification, methodology
        disagreement). Suggestions for a human reviewer only, never a verdict. Does not modify
        anything.
      tags:
        - claims
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - claim.read
      parameters:
        - name: claimId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 25
              required: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /research-jobs/preview:
    post:
      operationId: previewExternalResearch
      summary: Search external sources without saving anything
      description: Bounded external search (PubMed + configured web provider) for candidates on a topic,
        plus what the library already holds. Every candidate is external_web, unreviewed -- never
        present as approved evidence. Writes nothing.
      tags:
        - research
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - research.run
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                research_question:
                  type: string
                  minLength: 1
                instructions:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                search_scope:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - internal
                        - external
                        - combined
                date_range:
                  anyOf:
                    - not: {}
                    - type: object
                      properties:
                        from:
                          type: string
                          nullable: true
                        to:
                          type: string
                          nullable: true
                      additionalProperties: false
                source_types:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                study_designs:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                population:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                intervention:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                outcomes:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                geography:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                inclusion_criteria:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                exclusion_criteria:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                maximum_candidates:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 100
              required:
                - research_question
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /research-jobs:
    post:
      operationId: startResearchJob
      summary: Start an asynchronous, multi-query research job
      description: "Starts a background research job: expands the question into queries, searches
        internal/external sources, records candidates for review. Use for broad multi-step research,
        not a quick lookup. Nothing is ingested unless candidates are later selected. Writes;
        idempotent with a key."
      tags:
        - research
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - research.run
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  anyOf:
                    - not: {}
                    - type: string
                research_question:
                  type: string
                  minLength: 1
                instructions:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                search_scope:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - internal
                        - external
                        - combined
                date_range:
                  anyOf:
                    - not: {}
                    - type: object
                      properties:
                        from:
                          type: string
                          nullable: true
                        to:
                          type: string
                          nullable: true
                      additionalProperties: false
                source_types:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                study_designs:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                population:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                intervention:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                outcomes:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                geography:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                inclusion_criteria:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                exclusion_criteria:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                maximum_candidates:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 100
                create_collection:
                  anyOf:
                    - not: {}
                    - type: boolean
                collection_name:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                automatically_ingest_selected:
                  anyOf:
                    - not: {}
                    - type: boolean
              required:
                - research_question
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /research-jobs/{researchJobId}/candidates/select:
    post:
      operationId: selectResearchCandidates
      summary: Include or exclude research candidates, optionally ingesting the included ones
      description: Marks research candidates included/excluded with a reason each. If ingest_included is
        true, included ones are saved via the normal ingestion path. Never auto-select/ingest
        everything without explicit user criteria. Writes.
      tags:
        - research
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - research.run
        - source.write
      parameters:
        - name: researchJobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                include_candidate_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                exclude:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: object
                        properties:
                          candidate_id:
                            type: string
                            format: uuid
                          reason:
                            type: string
                            minLength: 1
                        required:
                          - candidate_id
                          - reason
                        additionalProperties: false
                ingest_included:
                  anyOf:
                    - not: {}
                    - type: boolean
                add_to_collection_id:
                  anyOf:
                    - not: {}
                    - type: string
                      format: uuid
                      nullable: true
              required: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /briefs/{briefId}/generate:
    post:
      operationId: generateResearchBrief
      summary: Draft or regenerate a brief's sections from its sources
      description: Generates requested brief sections from its attached sources, citing every factual
        statement (invented citations are stripped). Saves a prior version before overwriting.
        Cannot run on an approved brief. Writes.
      tags:
        - briefs
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - brief.write
      parameters:
        - name: briefId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sections:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        enum:
                          - executive_summary
                          - methodology
                          - findings
                          - contradictions
                          - limitations
                          - recommendations
                          - safety_notes
              required: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /content/generate:
    post:
      operationId: generateEvidenceBasedContent
      summary: Draft content from library sources with citations
      description: Drafts content (article, patient guide, FAQ, script, etc.) from cited library passages.
        Defaults to approved sources only; broader policies flag unreviewed material. Unsupported
        statements are returned separately, never left uncited. Health content always needs reviewer
        sign-off. Writes.
      tags:
        - content
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - content.generate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  minLength: 1
                content_type:
                  type: string
                  enum:
                    - blog_article
                    - patient_guide
                    - faq
                    - video_script
                    - social_post
                    - carousel_copy
                    - newsletter
                    - training_notes
                    - presentation_outline
                    - research_summary
                audience:
                  anyOf:
                    - not: {}
                    - type: string
                instructions:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                target_length:
                  anyOf:
                    - not: {}
                    - type: integer
                      exclusiveMinimum: true
                      minimum: 0
                source_policy:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - approved_only
                        - approved_preferred
                        - any_internal
                source_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                citation_style:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - internal
                        - numbered
                        - apa
                        - vancouver
                        - harvard
                        - url_list
                        - doi_list
                        - bibtex
                        - ris
                include_safety_notes:
                  anyOf:
                    - not: {}
                    - type: boolean
                brand_guidance:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                prohibited_claims:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
              required:
                - title
                - content_type
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /content/{contentId}/validate:
    post:
      operationId: validateContentCitations
      summary: Check a content draft's statements against its cited sources
      description: Re-checks each cited statement in a content draft against its source passage, flagging
        unsupported/weakly-supported statements and unsafe absolute language. Use before
        recommending publication; always surface flagged statements. Does not modify anything.
      tags:
        - content
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - content.generate
      parameters:
        - name: contentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /confirmations:
    post:
      operationId: requestActionConfirmation
      summary: Request a server-issued confirmation for a high-risk action
      description: Issues a confirmation record (phrase + expiry) for a high-risk/critical action. Show
        the user the exact returned summary, get explicit agreement, then call confirmAction, then
        retry the original operation with the confirmation_id. Bound to this exact resource set and
        payload.
      tags:
        - confirmations
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action_type:
                  type: string
                  minLength: 1
                resource_type:
                  type: string
                  minLength: 1
                resource_ids:
                  type: array
                  items:
                    type: string
                  minItems: 1
                action_payload:
                  anyOf:
                    - not: {}
                    - type: object
                      additionalProperties: {}
                human_summary:
                  type: string
                  minLength: 1
              required:
                - action_type
                - resource_type
                - resource_ids
                - human_summary
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /confirmations/{confirmationId}/confirm:
    post:
      operationId: confirmAction
      summary: Confirm a previously requested high-risk action
      description: Marks a confirmation as confirmed using the exact phrase requestActionConfirmation
        returned -- never guess or paraphrase it. Call only after the user has clearly agreed to the
        shown summary. The confirmation_id can then be used once with the original operation.
      tags:
        - confirmations
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes: []
      parameters:
        - name: confirmationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                confirmation_phrase:
                  type: string
                  minLength: 1
              required:
                - confirmation_phrase
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /audit/my-actions:
    get:
      operationId: getMyActionHistory
      summary: See what has been done on the current user's behalf, including by this GPT
      description: Returns the current user's own audit history, including everything done on their behalf
        by this GPT, the dashboard, or the API. Use when asked what changed. Does not modify
        anything.
      tags:
        - audit
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes: []
      parameters:
        - name: action
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: resource_type
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: source_interface
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: created_after
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: cursor
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: limit
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: integer
                minimum: 1
                maximum: 100
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    ApiKey:
      type: http
      scheme: bearer
      description: Credential (prefix nbgpt_) that acts as a constrained, pre-authorized user, created via
        Settings -> Connect a Custom GPT.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - request_id
            - retryable
          properties:
            code:
              type: string
              enum:
                - UNAUTHENTICATED
                - FORBIDDEN
                - INVALID_INPUT
                - VALIDATION_FAILED
                - NOT_FOUND
                - CONFLICT
                - DUPLICATE_SOURCE
                - CONFIRMATION_REQUIRED
                - CONFIRMATION_EXPIRED
                - RATE_LIMITED
                - PROCESSING
                - EXTRACTION_FAILED
                - AI_PROCESSING_FAILED
                - EXTERNAL_SEARCH_FAILED
                - JOB_NOT_CANCELLABLE
                - SOURCE_LOCKED
                - FIELD_LOCKED
                - VERSION_CONFLICT
                - IDEMPOTENCY_CONFLICT
                - PAYLOAD_TOO_LARGE
                - UNSUPPORTED_MEDIA_TYPE
                - NOT_IMPLEMENTED
                - INTERNAL_ERROR
            message:
              type: string
            details:
              type: object
              additionalProperties: true
            request_id:
              type: string
            retryable:
              type: boolean
            suggested_action:
              type: string
    ResponseMeta:
      type: object
      properties:
        request_id:
          type: string
        operation:
          type: string
        duration_ms:
          type: number
        source:
          type: string
          enum:
            - internal_approved
            - internal_unreviewed
            - internal_archived
            - external_web
            - mixed
          description: Where the returned information originated.
    Pagination:
      type: object
      properties:
        next_cursor:
          type:
            - string
            - "null"
        has_more:
          type: boolean
        limit:
          type: integer
