openapi: 3.1.0
info:
  title: Nirog Bhoomi Research OS -- Custom GPT Actions
  version: 1.0.0
  description: The subset of the Nirog Bhoomi Research OS API exposed to the Nirog Bhoomi Research
    Assistant Custom GPT. Every write is permission-checked, scope-checked and audit-logged
    identically to the dashboard.
servers:
  - url: https://research.nirogbhoomi.com/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development
security:
  - OAuth2: []
  - ApiKey: []
tags:
  - name: audit
  - name: briefs
  - name: claims
  - name: collections
  - name: confirmations
  - name: content
  - name: ingestion
  - name: knowledge
  - name: profile
  - name: research
  - name: review
  - name: sources
  - name: taxonomy
paths:
  /me:
    get:
      operationId: getCurrentUser
      summary: Get the authenticated user, their roles and their effective permissions
      description: >-
        Returns the identity this connection acts as, together with roles, granted scopes, effective
        permissions and preferences.


        Use this when identity or permissions matter to what you are about to do -- for example
        before offering to approve a source or merge categories. Do not assume a permission the user
        has not been shown to hold, and do not use this to work around a FORBIDDEN response.


        This operation does not modify anything.
      tags:
        - profile
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - profile.read
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /knowledge/search:
    post:
      operationId: searchKnowledge
      summary: Search the internal library with natural language and structured filters
      description: >-
        Searches Nirog Bhoomi's own sources, claims, collections, annotations and briefs using
        hybrid retrieval (full-text, semantic, identifier, taxonomy and evidence-weighted ranking).


        Use this whenever the user asks what the organization already knows, asks you to find saved
        research, or asks a substantive topic question that the library may cover. Always search
        before synthesizing, unless you already hold specific source ids.


        This returns retrieval results with matched passages and locators. It does NOT write an
        answer -- use synthesizeKnowledge for that. It does NOT search the web; use
        previewExternalResearch or startResearchJob for external discovery.


        Every result states its origin (internal_approved, internal_unreviewed or
        internal_archived). Never describe an unreviewed result as approved organizational evidence.
        This operation does not modify anything.
      tags:
        - knowledge
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - knowledge.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  minLength: 1
                  description: The natural-language question or search terms.
                mode:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - library_only
                        - library_first
                        - web_discovery
                        - evidence_review
                  description: library_only restricts to approved internal sources by default.
                entity_types:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        enum:
                          - sources
                          - claims
                          - collections
                          - annotations
                          - briefs
                  description: Which record types to search. Defaults to sources.
                filters:
                  anyOf:
                    - not: {}
                    - type: object
                      properties:
                        review_status:
                          type: array
                          items:
                            type: string
                            enum:
                              - unreviewed
                              - needs_review
                              - in_review
                              - approved
                              - approved_with_conditions
                              - rejected
                              - disputed
                              - superseded
                        source_types:
                          type: array
                          items:
                            type: string
                        study_designs:
                          type: array
                          items:
                            type: string
                        categories:
                          type: array
                          items:
                            type: string
                            format: uuid
                        tags:
                          type: array
                          items:
                            type: string
                            format: uuid
                        collection_ids:
                          type: array
                          items:
                            type: string
                            format: uuid
                        source_ids:
                          type: array
                          items:
                            type: string
                            format: uuid
                        authors:
                          type: array
                          items:
                            type: string
                        publishers:
                          type: array
                          items:
                            type: string
                        published_after:
                          type: string
                          nullable: true
                        published_before:
                          type: string
                          nullable: true
                        population:
                          type: string
                          nullable: true
                        intervention:
                          type: string
                          nullable: true
                        comparator:
                          type: string
                          nullable: true
                        outcome:
                          type: string
                          nullable: true
                        country:
                          type: string
                          nullable: true
                        language:
                          type: string
                          nullable: true
                        evidence_status:
                          type: array
                          items:
                            type: string
                            enum:
                              - supported
                              - likely_supported
                              - mixed
                              - contested
                              - contradicted
                              - insufficient_evidence
                              - outdated
                              - retracted_source_dependency
                              - unreviewed
                      additionalProperties: false
                limit:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 50
                include_passages:
                  anyOf:
                    - not: {}
                    - type: boolean
                  description: Return matching passages with locators.
                include_unreviewed:
                  anyOf:
                    - not: {}
                    - type: boolean
                  description: Include sources that have not been approved. They are labelled as such.
                include_archived:
                  anyOf:
                    - not: {}
                    - type: boolean
                explain_ranking:
                  anyOf:
                    - not: {}
                    - type: boolean
                  description: Return the per-signal score breakdown.
              required:
                - query
            example:
              query: What evidence do we have on post-meal walking and glucose?
              mode: library_only
              entity_types:
                - sources
                - claims
              filters:
                review_status:
                  - approved
              limit: 20
              include_passages: true
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /knowledge/synthesize:
    post:
      operationId: synthesizeKnowledge
      summary: Generate a cited answer from internal sources only
      description: >-
        Produces an evidence-backed answer built strictly from Nirog Bhoomi's own sources, with a
        citation for every factual statement.


        Use this when the user wants an answer rather than a list of results -- a cited overview, a
        comparison across retrieved evidence, or a summary of contradictions and limitations. Search
        first unless you already know which source ids to use.


        The service rejects any citation the model produced that is not in the retrieval context, so
        citations returned here always correspond to real passages. Statements whose citations were
        all invalid are dropped rather than shown uncited.


        Defaults to approved sources only. Setting approved_only to false includes unreviewed
        material, which must then be described as unreviewed in your answer. This operation does not
        use the web and does not modify anything.
      tags:
        - knowledge
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - knowledge.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
                  minLength: 1
                mode:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - library_only
                        - library_first
                        - evidence_review
                source_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                  description: Restrict to these sources.
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                approved_only:
                  anyOf:
                    - not: {}
                    - type: boolean
                  description: Defaults to true.
                include_contradictions:
                  anyOf:
                    - not: {}
                    - type: boolean
                include_limitations:
                  anyOf:
                    - not: {}
                    - type: boolean
                include_safety_notes:
                  anyOf:
                    - not: {}
                    - type: boolean
                citation_style:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - internal
                        - numbered
                        - apa
                        - vancouver
                        - harvard
                        - url_list
                        - doi_list
                        - bibtex
                        - ris
                audience:
                  anyOf:
                    - not: {}
                    - type: string
                max_sources:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 30
              required:
                - question
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /knowledge/evidence:
    post:
      operationId: findEvidence
      summary: Find supporting, contradicting or qualifying evidence for a claim or question
      description: >-
        Returns evidence relevant to a specific claim or question, separated into evidence that has
        been curated and reviewed (attached to a claim record) and evidence that is only a retrieval
        match.


        Use this when the user asks whether something is supported, what contradicts it, or wants
        the exact passages behind a position. The distinction in the response matters: curated claim
        evidence has been reviewed by a person, passage evidence has not.


        This does not create or modify claims. Use createClaim or addClaimEvidence for that.
      tags:
        - knowledge
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - knowledge.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                claim_or_question:
                  type: string
                  minLength: 1
                relationship:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - supporting
                        - contradicting
                        - qualifying
                        - all
                approved_only:
                  anyOf:
                    - not: {}
                    - type: boolean
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                limit:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 50
              required:
                - claim_or_question
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /knowledge/compare:
    post:
      operationId: compareSources
      summary: Compare two to eight sources across methodology dimensions
      description: >-
        Builds a side-by-side comparison of the selected sources across study design, population,
        intervention, comparator, duration, outcomes, findings, limitations, funding and conflicts
        of interest.


        Use this when the user asks how studies differ, which is stronger, or why two sources seem
        to disagree. The response names which sources have no data for each dimension, and flags
        whether the study metadata was human-verified or only auto-extracted.


        Requires between two and eight source ids. This operation does not modify anything.
      tags:
        - knowledge
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - knowledge.read
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 2
                  maxItems: 8
                comparison_dimensions:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
              required:
                - source_ids
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources:
    get:
      operationId: listSources
      summary: List and filter library sources
      description: >-
        Returns a filtered, paginated list of sources with their review and processing state.


        Use this for browsing and filtering -- "show sources awaiting review", "what did I add this
        week", "list everything in this collection". For relevance-ranked topic search use
        searchKnowledge instead; this operation does not rank by relevance to a question.


        This operation does not modify anything.
      tags:
        - sources
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.read
        - knowledge.read
      parameters:
        - name: query
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: review_status
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - allOf:
                  - anyOf:
                      - type: string
                      - type: array
                        items:
                          type: string
                  - type: array
                    items:
                      type: string
                      minLength: 1
        - name: processing_status
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - allOf:
                  - anyOf:
                      - type: string
                      - type: array
                        items:
                          type: string
                  - type: array
                    items:
                      type: string
                      minLength: 1
        - name: source_type
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - allOf:
                  - anyOf:
                      - type: string
                      - type: array
                        items:
                          type: string
                  - type: array
                    items:
                      type: string
                      minLength: 1
        - name: category_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: tag_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: collection_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: publisher
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: author
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: published_after
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: published_before
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: added_by
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: assigned_reviewer_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: archived
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: duplicates_only
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: cursor
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: limit
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: integer
                minimum: 1
                maximum: 100
        - name: sort
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                enum:
                  - created_at
                  - updated_at
                  - publication_date
                  - title
        - name: order
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                enum:
                  - asc
                  - desc
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: createSource
      summary: Create a source from supplied text rather than a URL
      description: >-
        Creates a source record from text you already have -- a manual note, pasted article text, an
        internal document, or a citation with no retrievable URL.


        Use this when there is no URL to fetch, or when the publisher blocks automated access and
        the user has supplied the text. For a URL, use ingestUrl instead: it captures the original
        and its metadata.


        This operation writes. The created source is unreviewed.
      tags:
        - sources
        - ingestion
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  minLength: 1
                source_type:
                  anyOf:
                    - not: {}
                    - type: string
                  description: Defaults to manual_note.
                text:
                  type: string
                  minLength: 1
                original_url:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                authors:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                publisher:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                publication_date:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                abstract:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                categories:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                tags:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
              required:
                - title
                - text
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}:
    get:
      operationId: getSource
      summary: Get one source with its metadata, taxonomy and optional detail
      description: >-
        Returns the full record for one source: metadata, summaries, categories, tags, collections,
        review state and processing state.


        Use this when a specific source has been identified and you need its details, or before
        proposing an edit. The optional include flags add study metadata, claims, annotations,
        versions and activity.


        Full text is not returned by default and is truncated when requested; use
        searchSourcePassages to retrieve specific passages with locators rather than pulling the
        whole document.


        This operation does not modify anything.
      tags:
        - sources
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.read
        - knowledge.read
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: include_text
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_study_metadata
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_claims
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_annotations
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_versions
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
        - name: include_activity
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: boolean
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}/passages/search:
    post:
      operationId: searchSourcePassages
      summary: Find exact passages within one source
      description: >-
        Searches inside a single source and returns the best-matching passages with page numbers and
        locators.


        Use this when the user wants an exact quotation, asks where a statement appears in a
        document, needs a page reference, or when you must verify a claim against its source before
        repeating it.


        Never paraphrase a passage as if it were a quotation. Never invent a page number -- use the
        locator this returns. This operation does not modify anything.
      tags:
        - sources
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.read
        - knowledge.read
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  minLength: 1
                limit:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 30
                include_context:
                  anyOf:
                    - not: {}
                    - type: boolean
              required:
                - query
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/ingest-url:
    post:
      operationId: ingestUrl
      summary: Save one URL to the library and queue enrichment
      description: >-
        Fetches a URL, extracts its content, checks for duplicates, creates a source record and
        queues AI enrichment.


        Use this when the user explicitly asks to save, log or add a link, or when an external
        research candidate has been chosen for saving. Do not call it speculatively for a URL the
        user merely mentioned.


        The newly created source is NOT approved. It enters the Research Inbox as needs_review, and
        you must say so rather than implying it is now organizational evidence.


        If a duplicate exists this returns DUPLICATE_SOURCE with the existing record; tell the user
        what already exists and ask whether to open it, save a related copy, or capture a new
        version. Do not silently create a second copy.


        This operation writes. Supply an Idempotency-Key header to make a retry safe.
      tags:
        - sources
        - ingestion
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  minLength: 1
                  description: The URL to save.
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                category_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                tags:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                notes:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                assign_reviewer_id:
                  anyOf:
                    - not: {}
                    - type: string
                      format: uuid
                      nullable: true
                priority:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - low
                        - normal
                        - high
                duplicate_behavior:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - warn
                        - return_existing
                        - create_related
                        - create_version_when_possible
                      description: warn returns DUPLICATE_SOURCE so you can ask the user; return_existing opens the
                        existing record; create_related saves a linked copy;
                        create_version_when_possible attaches a changed page as a new version.
                  description: warn returns DUPLICATE_SOURCE so you can ask the user; return_existing opens the
                    existing record; create_related saves a linked copy;
                    create_version_when_possible attaches a changed page as a new version.
                processing_profile:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - standard
                        - metadata_only
                        - full
                visibility:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - private
                        - restricted
                        - organization
                        - selected_collections
              required:
                - url
            example:
              url: https://pubmed.ncbi.nlm.nih.gov/35449236/
              tags:
                - post-meal walking
              duplicate_behavior: warn
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/ingest-identifier:
    post:
      operationId: ingestIdentifier
      summary: Save a paper by DOI or PubMed identifier
      description: >-
        Resolves a DOI or PMID to its bibliographic record and landing page, then saves it as a
        source.


        Use this when the user gives a DOI or PMID rather than a URL. If the identifier is already
        in the library the existing record is returned and nothing new is created.


        This operation writes. The created source is unreviewed.
      tags:
        - sources
        - ingestion
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - source.write
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                doi:
                  anyOf:
                    - not: {}
                    - type: string
                pmid:
                  anyOf:
                    - not: {}
                    - type: string
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                category_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                tags:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
              required: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}/collections:
    post:
      operationId: addSourceToCollections
      summary: Add one source to one or more collections
      description: >-
        Adds a single source to the given collections, optionally recording why it was added.


        Use this when the user asks to file an existing source into a collection. To add several
        sources to one collection, use addSourcesToCollection instead.


        This operation writes.
      tags:
        - sources
        - collections
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - collection.write
        - source.write
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                collection_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 1
                reason_added:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
              required:
                - collection_ids
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sources/{sourceId}/review-status:
    post:
      operationId: changeSourceReviewStatus
      summary: Approve, reject or otherwise change a source review status
      description: >-
        Changes the review status of one source: approved, approved_with_conditions, rejected,
        disputed, in_review, needs_review or superseded.


        Use this only when the user, holding the relevant permission, explicitly decides on a
        source. Approving a source makes it count as organizational evidence, so never do it on your
        own initiative.


        A reason is required to reject. Conditions are required for approved_with_conditions. Not
        every transition is allowed -- a rejected source must return to review before it can be
        approved. A source that is still processing cannot be approved.


        For several sources at once use bulkChangeSourceReviewStatus, which requires confirmation.


        This operation writes and requires the source.approve or source.reject permission.
      tags:
        - sources
        - review
      x-risk-level: medium
      x-may-require-confirmation: true
      x-required-scopes:
        - source.review
      parameters:
        - name: sourceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                confirmation_id:
                  anyOf:
                    - not: {}
                    - type: string
                      format: uuid
                      nullable: true
                  description: Confirmation id from confirmAction. Required when the operation returns
                    CONFIRMATION_REQUIRED.
                status:
                  type: string
                  enum:
                    - unreviewed
                    - needs_review
                    - in_review
                    - approved
                    - approved_with_conditions
                    - rejected
                    - disputed
                    - superseded
                reason:
                  anyOf:
                    - not: {}
                    - type: string
                  description: Required when rejecting.
                conditions:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                  description: Required for approved_with_conditions.
                expected_version:
                  anyOf:
                    - not: {}
                    - type: integer
              required:
                - status
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /collections:
    get:
      operationId: listCollections
      summary: List and search collections
      description: Returns collections with name, type, owner and source count. Use this to browse
        existing collections or check for one covering a topic before creating a new one. This
        operation does not modify anything.
      tags:
        - collections
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - collection.read
      parameters:
        - name: query
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: collection_type
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: owner_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
        - name: status
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                enum:
                  - active
                  - archived
        - name: cursor
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: limit
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: integer
                minimum: 1
                maximum: 100
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      operationId: createCollection
      summary: Create a new collection
      description: >-
        Creates a collection to organize sources around a topic, research question or content
        project.


        Before creating one, check listCollections or the similar_collections field this returns for
        an existing collection covering the same ground -- several collections on one topic are
        sometimes legitimate, so this is reported rather than blocked, but check with the user if a
        close match exists.


        This operation writes. It is idempotent when given an Idempotency-Key.
      tags:
        - collections
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - collection.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                description:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                purpose:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                research_question:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                collection_type:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - manual
                        - smart
                        - research_project
                        - content_project
                        - clinical_topic
                        - programme
                        - campaign
                        - competitor_research
                        - patient_education
                visibility:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - private
                        - restricted
                        - organization
                        - selected_collections
                source_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
              required:
                - name
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /categories/similar:
    get:
      operationId: findSimilarCategories
      summary: Find categories that would overlap with a proposed name
      description: >-
        Checks whether a proposed category name (and optional parent) is a likely duplicate of an
        existing one, comparing normalized names and declared synonyms.


        Call this before createCategory whenever the user asks to create a category. A similarity of
        0.9 or higher generally means an existing category should be used instead. This operation
        does not modify anything.
      tags:
        - taxonomy
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - taxonomy.read
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
            minLength: 1
        - name: parent_category_id
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
                format: uuid
                nullable: true
        - name: limit
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: integer
                minimum: 1
                maximum: 25
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /categories:
    post:
      operationId: createCategory
      summary: Create a new taxonomy category
      description: >-
        Creates a category in the controlled taxonomy.


        Always call findSimilarCategories first. If a likely duplicate exists (similarity 0.9+), do
        not create a new category -- tell the user what already exists and recommend using it,
        unless they explicitly confirm a genuinely distinct category is needed. If they confirm,
        retry with allow_duplicate set to true.


        If a duplicate exists and allow_duplicate is not set, this returns CONFLICT with the
        matching categories rather than creating a near-duplicate silently.


        This operation writes.
      tags:
        - taxonomy
      x-risk-level: medium
      x-may-require-confirmation: false
      x-required-scopes:
        - taxonomy.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                description:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                parent_category_id:
                  anyOf:
                    - not: {}
                    - type: string
                      format: uuid
                      nullable: true
                synonyms:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                color:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                icon:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                ai_usage_guidance:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                allow_duplicate:
                  anyOf:
                    - not: {}
                    - type: boolean
              required:
                - name
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /claims:
    post:
      operationId: createClaim
      summary: Create a claim, optionally with initial evidence
      description: >-
        Creates one atomic, checkable claim -- a specific proposition, not a general topic. Preserve
        the source's qualifiers rather than stating the claim more strongly than the evidence
        supports.


        Attach evidence at creation via source_evidence, or add it afterward with addClaimEvidence.
        When citing a specific passage, pass its passage_id from a prior search so the excerpt and
        locator are taken from the actual text rather than typed freehand.


        Do not create a claim from a source's cited background material, an author's opinion, or a
        recommendation -- those are not the source's own finding. This operation writes.
      tags:
        - claims
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - claim.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                canonical_text:
                  type: string
                  minLength: 15
                simplified_text:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                claim_type:
                  anyOf:
                    - not: {}
                    - type: string
                topic:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                population:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                intervention:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                comparator:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                outcome:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                timeframe:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                context:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                units:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                quantitative_value:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                safety_relevance:
                  anyOf:
                    - not: {}
                    - type: string
                category_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                source_evidence:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: object
                        properties:
                          source_id:
                            type: string
                            format: uuid
                          relationship:
                            type: string
                            enum:
                              - supports
                              - contradicts
                              - qualifies
                              - contextualizes
                              - cites
                              - replicates
                              - fails_to_replicate
                          passage_id:
                            type: string
                            format: uuid
                            nullable: true
                          excerpt:
                            type: string
                            nullable: true
                          locator:
                            type: string
                            nullable: true
                        required:
                          - source_id
                          - relationship
                        additionalProperties: false
              required:
                - canonical_text
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /claims/{claimId}/evidence:
    post:
      operationId: addClaimEvidence
      summary: Connect a source as evidence for a claim
      description: >-
        Attaches a source as supporting, contradicting, qualifying, contextualizing, citing,
        replicating or failing-to-replicate evidence for a claim.


        When passage_id is supplied, the excerpt and locator come from the actual stored passage,
        not from typed text. This recomputes the claim's evidence status if it has not yet been
        reviewed by a human; if it has, the claim is flagged for re-review instead of being
        overridden.


        This operation writes.
      tags:
        - claims
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - claim.write
      parameters:
        - name: claimId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source_id:
                  type: string
                  format: uuid
                relationship:
                  type: string
                  enum:
                    - supports
                    - contradicts
                    - qualifies
                    - contextualizes
                    - cites
                    - replicates
                    - fails_to_replicate
                passage_id:
                  anyOf:
                    - not: {}
                    - type: string
                      format: uuid
                      nullable: true
                excerpt:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                locator:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                evidence_strength:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
              required:
                - source_id
                - relationship
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /claims/{claimId}/review:
    post:
      operationId: reviewClaim
      summary: Record a human review decision on a claim
      description: >-
        Records a reviewer's decision on a claim's evidence status and clinical review status, with
        a required rationale.


        Use this only when the acting user, holding claim.review, has actually made this
        determination -- never on your own initiative. This operation writes.
      tags:
        - claims
      x-risk-level: medium
      x-may-require-confirmation: false
      x-required-scopes:
        - claim.review
      parameters:
        - name: claimId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                evidence_status:
                  type: string
                  enum:
                    - supported
                    - likely_supported
                    - mixed
                    - contested
                    - contradicted
                    - insufficient_evidence
                    - outdated
                    - retracted_source_dependency
                    - unreviewed
                clinical_review_status:
                  anyOf:
                    - not: {}
                    - type: string
                rationale:
                  type: string
                  minLength: 1
                safety_notes:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                safety_relevance:
                  anyOf:
                    - not: {}
                    - type: string
                expected_version:
                  anyOf:
                    - not: {}
                    - type: integer
              required:
                - evidence_status
                - rationale
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /claims/{claimId}/analyze-conflicts:
    post:
      operationId: analyzeClaimConflicts
      summary: Compare a claim against related claims for potential contradictions
      description: >-
        Compares a claim against other claims covering similar ground and classifies each
        relationship: true contradiction, different population, different intervention intensity,
        different outcome, different time horizon, an added qualification, or a methodological
        disagreement.


        These are suggestions for a human reviewer, never a settled verdict, and no claim status is
        changed by this call. This operation does not modify anything.
      tags:
        - claims
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - claim.read
      parameters:
        - name: claimId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 25
              required: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /research-jobs/preview:
    post:
      operationId: previewExternalResearch
      summary: Search external sources without saving anything
      description: >-
        Searches PubMed and, if configured, a general web provider for candidate sources matching a
        research question, and reports what the internal library already holds on the same topic.


        Use this for a bounded, quick external look before deciding whether a full research job is
        warranted, or to show the user candidates before saving any. Nothing is written to the
        library by this call.


        Every candidate is external_web and is explicitly not approved Nirog Bhoomi evidence --
        never present a candidate as though it were.
      tags:
        - research
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - research.run
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                research_question:
                  type: string
                  minLength: 1
                instructions:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                search_scope:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - internal
                        - external
                        - combined
                date_range:
                  anyOf:
                    - not: {}
                    - type: object
                      properties:
                        from:
                          type: string
                          nullable: true
                        to:
                          type: string
                          nullable: true
                      additionalProperties: false
                source_types:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                study_designs:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                population:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                intervention:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                outcomes:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                geography:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                inclusion_criteria:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                exclusion_criteria:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                maximum_candidates:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 100
              required:
                - research_question
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /research-jobs:
    post:
      operationId: startResearchJob
      summary: Start an asynchronous, multi-query research job
      description: >-
        Starts a background research job: expands the question into several search queries, searches
        internal and/or external sources per search_scope, and records candidates for review.
        Optionally creates a collection up front.


        Use this for a broad or multi-step research request, where several candidate sources need
        evaluating against inclusion and exclusion criteria, rather than for a single quick lookup
        (use previewExternalResearch or searchKnowledge for that).


        This does not ingest anything by itself unless automatically_ingest_selected is set and
        candidates are later selected via selectResearchCandidates. Report the job as queued; check
        getResearchJob for progress rather than assuming completion.


        This operation writes and is idempotent when given an Idempotency-Key.
      tags:
        - research
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - research.run
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  anyOf:
                    - not: {}
                    - type: string
                research_question:
                  type: string
                  minLength: 1
                instructions:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                search_scope:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - internal
                        - external
                        - combined
                date_range:
                  anyOf:
                    - not: {}
                    - type: object
                      properties:
                        from:
                          type: string
                          nullable: true
                        to:
                          type: string
                          nullable: true
                      additionalProperties: false
                source_types:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                study_designs:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                population:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                intervention:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                outcomes:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                geography:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                inclusion_criteria:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                exclusion_criteria:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                maximum_candidates:
                  anyOf:
                    - not: {}
                    - type: integer
                      minimum: 1
                      maximum: 100
                create_collection:
                  anyOf:
                    - not: {}
                    - type: boolean
                collection_name:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                automatically_ingest_selected:
                  anyOf:
                    - not: {}
                    - type: boolean
              required:
                - research_question
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /research-jobs/{researchJobId}/candidates/select:
    post:
      operationId: selectResearchCandidates
      summary: Include or exclude research candidates, optionally ingesting the included ones
      description: >-
        Marks candidates as included or excluded, with a reason for each exclusion. When
        ingest_included is true, included candidates are saved to the library via the normal
        ingestion path and added to the job's collection if one exists.


        Do not select and ingest every candidate automatically unless the user has given clear
        criteria authorizing that. Report duplicates and failures explicitly. Ingested sources are
        unreviewed, never approved evidence.


        This operation writes.
      tags:
        - research
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - research.run
        - source.write
      parameters:
        - name: researchJobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                include_candidate_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                exclude:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: object
                        properties:
                          candidate_id:
                            type: string
                            format: uuid
                          reason:
                            type: string
                            minLength: 1
                        required:
                          - candidate_id
                          - reason
                        additionalProperties: false
                ingest_included:
                  anyOf:
                    - not: {}
                    - type: boolean
                add_to_collection_id:
                  anyOf:
                    - not: {}
                    - type: string
                      format: uuid
                      nullable: true
              required: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /briefs/{briefId}/generate:
    post:
      operationId: generateResearchBrief
      summary: Draft or regenerate a brief's sections from its sources
      description: >-
        Generates the requested sections (executive_summary, methodology, findings, contradictions,
        limitations, recommendations, safety_notes) from the brief's attached sources. Every factual
        statement is cited; a citation the model invented is stripped rather than kept.


        A previous version is saved before overwriting. Cannot run on an approved brief -- editing
        an approved brief needs a new version via createResearchBrief.


        This operation writes.
      tags:
        - briefs
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - brief.write
      parameters:
        - name: briefId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sections:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        enum:
                          - executive_summary
                          - methodology
                          - findings
                          - contradictions
                          - limitations
                          - recommendations
                          - safety_notes
              required: []
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /content/generate:
    post:
      operationId: generateEvidenceBasedContent
      summary: Draft content from library sources with citations
      description: >-
        Drafts content (blog article, patient guide, FAQ, video script, social post, newsletter,
        training notes, presentation outline, or research summary) built from cited library
        passages.


        Defaults to approved sources only (source_policy approved_only). Using approved_preferred or
        any_internal includes unreviewed material and the response will flag it; do not publish that
        as approved Nirog Bhoomi guidance without review.


        Every factual statement in the body carries a citation marker verified against the retrieval
        context; anything the model could not support is returned separately as unsupported_claims
        rather than left uncited in the body. Health-facing content requires review by a qualified
        reviewer before publication -- always say so.


        This operation writes and creates a content record.
      tags:
        - content
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - content.generate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  minLength: 1
                content_type:
                  type: string
                  enum:
                    - blog_article
                    - patient_guide
                    - faq
                    - video_script
                    - social_post
                    - carousel_copy
                    - newsletter
                    - training_notes
                    - presentation_outline
                    - research_summary
                audience:
                  anyOf:
                    - not: {}
                    - type: string
                instructions:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                target_length:
                  anyOf:
                    - not: {}
                    - type: integer
                      exclusiveMinimum: true
                      minimum: 0
                source_policy:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - approved_only
                        - approved_preferred
                        - any_internal
                source_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                collection_ids:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
                        format: uuid
                citation_style:
                  anyOf:
                    - not: {}
                    - type: string
                      enum:
                        - internal
                        - numbered
                        - apa
                        - vancouver
                        - harvard
                        - url_list
                        - doi_list
                        - bibtex
                        - ris
                include_safety_notes:
                  anyOf:
                    - not: {}
                    - type: boolean
                brand_guidance:
                  anyOf:
                    - not: {}
                    - type: string
                      nullable: true
                prohibited_claims:
                  anyOf:
                    - not: {}
                    - type: array
                      items:
                        type: string
              required:
                - title
                - content_type
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: A client-generated key that makes a retried write safe to repeat.
          schema:
            type: string
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /content/{contentId}/validate:
    post:
      operationId: validateContentCitations
      summary: Check a content draft's statements against its cited sources
      description: >-
        Independently re-checks each cited statement in a content draft against the text of the
        passage it cites, and flags any factual statement carrying no citation at all.


        Returns supported, weakly supported and unsupported statements, citation marker mismatches,
        and safety review flags including absolute or guaranteeing language. Use this before
        recommending that content be published, and always surface unsupported or weakly supported
        statements to the user.


        This operation does not modify anything.
      tags:
        - content
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes:
        - content.generate
      parameters:
        - name: contentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /confirmations:
    post:
      operationId: requestActionConfirmation
      summary: Request a server-issued confirmation for a high-risk action
      description: >-
        Issues a confirmation record for a specific action, resource set and payload, returning a
        required confirmation phrase and an expiry time.


        Call this before any high-risk or critical action -- archiving, bulk operations, merges, or
        changing an approved clinical claim. Present the exact summary this returns to the user
        verbatim, obtain their explicit agreement, then call confirmAction, then retry the original
        operation with the returned confirmation_id.


        The confirmation is bound to this exact resource set and payload; it cannot be reused for a
        different action or a different set of records. This operation writes a confirmation record
        but does not perform the underlying action.
      tags:
        - confirmations
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action_type:
                  type: string
                  minLength: 1
                resource_type:
                  type: string
                  minLength: 1
                resource_ids:
                  type: array
                  items:
                    type: string
                  minItems: 1
                action_payload:
                  anyOf:
                    - not: {}
                    - type: object
                      additionalProperties: {}
                human_summary:
                  type: string
                  minLength: 1
              required:
                - action_type
                - resource_type
                - resource_ids
                - human_summary
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /confirmations/{confirmationId}/confirm:
    post:
      operationId: confirmAction
      summary: Confirm a previously requested high-risk action
      description: >-
        Marks a confirmation as confirmed after the user has explicitly agreed, by supplying the
        exact required phrase.


        Only call this after the user has been shown the confirmation summary and has clearly
        agreed. Do not fabricate or guess the phrase -- use exactly what requestActionConfirmation
        returned. Once confirmed, use the confirmation_id with the original operation; it can only
        be used once.
      tags:
        - confirmations
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes: []
      parameters:
        - name: confirmationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                confirmation_phrase:
                  type: string
                  minLength: 1
              required:
                - confirmation_phrase
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /audit/my-actions:
    get:
      operationId: getMyActionHistory
      summary: See what has been done on the current user's behalf, including by this GPT
      description: >-
        Returns the current user's own audit history, including everything performed on their behalf
        by the Custom GPT, the dashboard assistant or the API. Available to any authenticated user
        without requiring audit.read.


        Use this when the user asks what you changed, or wants to review recent actions taken on
        their behalf. This operation does not modify anything.
      tags:
        - audit
      x-risk-level: low
      x-may-require-confirmation: false
      x-required-scopes: []
      parameters:
        - name: action
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: resource_type
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: source_interface
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: created_after
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: cursor
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: string
        - name: limit
          in: query
          required: false
          schema:
            anyOf:
              - not: {}
              - type: integer
                minimum: 1
                maximum: 100
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                    additionalProperties: true
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: User-specific access via the authorization code flow (with PKCE).
      flows:
        authorizationCode:
          authorizationUrl: https://research.nirogbhoomi.com/oauth/authorize
          tokenUrl: https://research.nirogbhoomi.com/oauth/token
          scopes:
            profile.read: profile read
            knowledge.read: knowledge read
            source.read: source read
            source.write: source write
            source.review: source review
            collection.read: collection read
            collection.write: collection write
            taxonomy.read: taxonomy read
            taxonomy.write: taxonomy write
            claim.read: claim read
            claim.write: claim write
            claim.review: claim review
            annotation.read: annotation read
            annotation.write: annotation write
            research.run: research run
            brief.read: brief read
            brief.write: brief write
            content.generate: content generate
            audit.read: audit read
            admin.integrations: admin integrations
    ApiKey:
      type: http
      scheme: bearer
      description: Prototype credential (prefix nbgpt_) that acts as a constrained, pre-authorized user.
        Use OAuth2 for production deployments.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - request_id
            - retryable
          properties:
            code:
              type: string
              enum:
                - UNAUTHENTICATED
                - FORBIDDEN
                - INVALID_INPUT
                - VALIDATION_FAILED
                - NOT_FOUND
                - CONFLICT
                - DUPLICATE_SOURCE
                - CONFIRMATION_REQUIRED
                - CONFIRMATION_EXPIRED
                - RATE_LIMITED
                - PROCESSING
[...]
